################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GDB.Web/.vs/GDB.Web/FileContentIndex
/GDB.Web/.vs/GDB.Web/FileContentIndex/15ed5960-a0af-47f5-8c30-b99eb3613d98.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/9915d28b-37ca-47c2-9b64-4ad17132a6db.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/9f5c4bbb-878f-4198-ad39-e26f90990f33.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/a35515dc-fc91-451f-ba86-cbff865a1ec4.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/ace082f8-9100-4571-b8b5-8383ebb74003.vsidx
/GDB.Web/.vs/GDB.Web/DesignTimeBuild
/GDB.Web/.vs/GDB.Web/DesignTimeBuild/.dtbcache.v2
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.wasm.gz
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.AssemblyInfoInputs.cache
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.csproj.AssemblyReference.cache
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.csproj.CoreCompileInputs.cache
