################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GDB.Web/.vs/GDB.Web/FileContentIndex
/GDB.Web/.vs/GDB.Web/FileContentIndex/15ed5960-a0af-47f5-8c30-b99eb3613d98.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/9915d28b-37ca-47c2-9b64-4ad17132a6db.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/9f5c4bbb-878f-4198-ad39-e26f90990f33.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/a35515dc-fc91-451f-ba86-cbff865a1ec4.vsidx
/GDB.Web/.vs/GDB.Web/FileContentIndex/ace082f8-9100-4571-b8b5-8383ebb74003.vsidx
/GDB.Web/.vs/GDB.Web/DesignTimeBuild
/GDB.Web/.vs/GDB.Web/DesignTimeBuild/.dtbcache.v2
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.wasm.gz
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.AssemblyInfoInputs.cache
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.csproj.AssemblyReference.cache
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.csproj.CoreCompileInputs.cache

/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/CodeChunks.db
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/GDB/v17/DocumentLayout.json
/.vs/GDB/v17/.wsuo
/.vs/VSWorkspaceState.json
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/CodeChunks.db

# Ignore log files
*.gz
*.cache

# Ignore a specific folder
GDB.Web/.vs/GDB.Web/CopilotIndices/
GDB.Web/.vs/GDB.Web/v17/
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/GDB.Web/.vs/GDB.Web/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/GDB.Web/.vs/GDB.Web/v17/.futdcache.v2
/GDB.Web/.vs/GDB.Web/v17/.suo
/GDB.Web/.vs/GDB.Web/v17/DocumentLayout.backup.json
/GDB.Web/.vs/GDB.Web/v17/DocumentLayout.json
/GDB.Web/.vs/ProjectEvaluation/gdb.web.metadata.v9.bin
/GDB.Web/.vs/ProjectEvaluation/gdb.web.projects.v9.bin
/GDB.Web/.vs/ProjectEvaluation/gdb.web.strings.v9.bin
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.BLL.dll
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.dll
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.pdb
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.sourcelink.json
/GDB.Web/GDB.Web/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GDB.Web/GDB.Web/obj/Debug/net8.0/staticwebassets.build.json
/GDB.Web/GDB.Web/obj/Debug/net8.0/staticwebassets.development.json
/GDB.Web/GDB.Web/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Client.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Client.staticwebassets.endpoints.json
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Client.staticwebassets.runtime.json
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.staticwebassets.endpoints.json
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.staticwebassets.runtime.json
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/GDB.Web.BLL.AssemblyInfoInputs.cache
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/GDB.Web.BLL.csproj.AssemblyReference.cache
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/GDB.Web.BLL.sourcelink.json
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/GDB.Web.BLL.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Client.staticwebassets.endpoints.json
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Client.staticwebassets.runtime.json
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.BLL.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.wasm.gz
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.sourcelink.json
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/staticwebassets.development.json
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.AssemblyInfoInputs.cache
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.csproj.AssemblyReference.cache
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.csproj.FileListAbsolute.txt
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.pdb
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/staticwebassets.build.json
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.BLL.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Client.pdb
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.BLL.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.Client.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Client.Infrastructure.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Common.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Core.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.DataAccess.wasm.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.pdb.gz
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.wasm
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/GDB.Web.Shared.wasm.gz
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.Client.Infrastructure.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.Common.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.Core.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.DataAccess.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/tmp-webcil/GDB.Web.Shared.wasm
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Client.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Common.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Common.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Core.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Core.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.DataAccess.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.exe
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Shared.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web/obj/Debug/net8.0/apphost.exe
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.AssemblyInfo.cs
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.BLL.dll
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.dll
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.pdb
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Common.dll
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Core.dll
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Core.pdb
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.DataAccess.dll
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Shared.dll
/GDB.Web/GDB.Web.BLL/bin/Debug/net8.0/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.BLL.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Client.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Common.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Core.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Core.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.DataAccess.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Shared.dll
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/blazor.boot.json
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.AssemblyInfo.cs
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/GDB.Web.Client.dll
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/ref/GDB.Web.Client.dll
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/refint/GDB.Web.Client.dll
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.BLL.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.Client.Infrastructure.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.Client.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.Common.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.Core.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.DataAccess.wasm
/GDB.Web/GDB.Web.Client/obj/Debug/net8.0/webcil/GDB.Web.Shared.wasm
/GDB.Web/GDB.Web.Common/bin/Debug/net8.0/GDB.Web.Common.dll
/GDB.Web/GDB.Web.Common/bin/Debug/net8.0/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/GDB.Web.Common.AssemblyInfo.cs
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/GDB.Web.Common.AssemblyInfoInputs.cache
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/GDB.Web.Common.dll
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/GDB.Web.Common.sourcelink.json
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/ref/GDB.Web.Common.dll
/GDB.Web/GDB.Web.Common/obj/Debug/net8.0/refint/GDB.Web.Common.dll
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.Common.dll
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.Common.pdb
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.Core.dll
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.Core.pdb
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.DataAccess.dll
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.Shared.dll
/GDB.Web/GDB.Web.DataAccess/bin/Debug/net8.0/GDB.Web.Shared.pdb
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/GDB.Web.DataAccess.AssemblyInfo.cs
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/GDB.Web.DataAccess.AssemblyInfoInputs.cache
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/GDB.Web.DataAccess.csproj.AssemblyReference.cache
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/GDB.Web.DataAccess.dll
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/GDB.Web.DataAccess.pdb
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/GDB.Web.DataAccess.sourcelink.json
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/ref/GDB.Web.DataAccess.dll
/GDB.Web/GDB.Web.DataAccess/obj/Debug/net8.0/refint/GDB.Web.DataAccess.dll
/GDB.Web.Client.Infrastructure/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.dll
/GDB.Web.Client.Infrastructure/bin/Debug/net8.0/GDB.Web.Client.Infrastructure.pdb
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/GDB.Web.Client.Infrastructure.AssemblyInfo.cs
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/GDB.Web.Client.Infrastructure.AssemblyInfoInputs.cache
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/GDB.Web.Client.Infrastructure.dll
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/GDB.Web.Client.Infrastructure.pdb
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/GDB.Web.Client.Infrastructure.sourcelink.json
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/ref/GDB.Web.Client.Infrastructure.dll
/GDB.Web.Client.Infrastructure/obj/Debug/net8.0/refint/GDB.Web.Client.Infrastructure.dll
/GDB.Web.Core/bin/Debug/net8.0/GDB.Web.Core.pdb
/GDB.Web.Core/obj/Debug/net8.0/GDB.Web.Core.AssemblyInfo.cs
/GDB.Web.Core/obj/Debug/net8.0/GDB.Web.Core.AssemblyInfoInputs.cache
/GDB.Web.Core/obj/Debug/net8.0/GDB.Web.Core.pdb
/GDB.Web.Core/obj/Debug/net8.0/GDB.Web.Core.sourcelink.json
/GDB.Web.Infrastructure/bin/Debug/net8.0/GDB.Web.Infrastructure.pdb
/GDB.Web.Infrastructure/obj/Debug/net8.0/GDB.Web.Infrastructure.AssemblyInfo.cs
/GDB.Web.Infrastructure/obj/Debug/net8.0/GDB.Web.Infrastructure.AssemblyInfoInputs.cache
/GDB.Web.Infrastructure/obj/Debug/net8.0/GDB.Web.Infrastructure.pdb
/GDB.Web.Infrastructure/obj/Debug/net8.0/GDB.Web.Infrastructure.sourcelink.json
/GDB.Web.Shared/bin/Debug/net8.0/GDB.Web.Shared.pdb
/GDB.Web.Shared/obj/Debug/net8.0/GDB.Web.Shared.AssemblyInfo.cs
/GDB.Web.Shared/obj/Debug/net8.0/GDB.Web.Shared.AssemblyInfoInputs.cache
/GDB.Web.Shared/obj/Debug/net8.0/GDB.Web.Shared.pdb
/GDB.Web.Shared/obj/Debug/net8.0/GDB.Web.Shared.sourcelink.json
/GDB.Web/GDB.Web/obj/Debug/net8.0/GDB.Web.dll
/GDB.Web/GDB.Web/obj/Debug/net8.0/ref/GDB.Web.dll
/GDB.Web/GDB.Web/obj/Debug/net8.0/refint/GDB.Web.dll
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/GDB.Web.BLL.AssemblyInfo.cs
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/ref/GDB.Web.BLL.dll
/GDB.Web/GDB.Web.BLL/obj/Debug/net8.0/refint/GDB.Web.BLL.dll
/GDB.Web.Core/bin/Debug/net8.0/GDB.Web.Core.dll
/GDB.Web.Core/obj/Debug/net8.0/GDB.Web.Core.dll
/GDB.Web.Core/obj/Debug/net8.0/ref/GDB.Web.Core.dll
/GDB.Web.Core/obj/Debug/net8.0/refint/GDB.Web.Core.dll
/GDB.Web.Infrastructure/bin/Debug/net8.0/GDB.Web.Infrastructure.dll
/GDB.Web.Infrastructure/obj/Debug/net8.0/GDB.Web.Infrastructure.dll
/GDB.Web.Infrastructure/obj/Debug/net8.0/ref/GDB.Web.Infrastructure.dll
/GDB.Web.Infrastructure/obj/Debug/net8.0/refint/GDB.Web.Infrastructure.dll
/GDB.Web.Shared/bin/Debug/net8.0/GDB.Web.Shared.dll
/GDB.Web.Shared/obj/Debug/net8.0/GDB.Web.Shared.dll
/GDB.Web.Shared/obj/Debug/net8.0/ref/GDB.Web.Shared.dll
/GDB.Web.Shared/obj/Debug/net8.0/refint/GDB.Web.Shared.dll
/GDB.Web/GDB.Web/bin/Debug/net8.0/BlazorDebugProxy/BrowserDebugHost.runtimeconfig.json
/GDB.Web/GDB.Web/obj/Debug/net8.0/staticwebassets/msbuild.GDB.Web.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/emcc-props.json
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.js
/GDB.Web/GDB.Web.Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.js
