@page "/masterMaintenance/advertiseSource/list"
@using Blazorise.DataGrid
@using GDB.Web.BLL.Interface
@using GDB.Web.Shared
@using System.Globalization
@using Radzen.Blazor

@inject IAdvertiseSourceService AdvertiseSourceService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="col-lg-6">
    <table>
        <tr>
            <td>
                <h2>Advertise Source</h2>
            </td>
            <td style="text-align:right;">
                <button @onclick="Add" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    &nbsp;&nbsp;Add New
                </button>
            </td>
        </tr>
        <tr style="padding-top:-5px;vertical-align:top;">
            <td colspan="2">
                @if (advertiseSourceData != null)
                {
                    <RadzenDataGrid Data="advertiseSourceData" AllowFiltering="true" AllowPaging="true" AllowSorting="true" PageSize="15">
                        <Columns>
                            <RadzenDataGridColumn TItem="AdvertiseSourceViewModel" Property="AdvertiseId" Title="Id" />
                            <RadzenDataGridColumn TItem="AdvertiseSourceViewModel" Property="AdvertiseDescription" Title="Advertise Description" />
                        </Columns>
                    </RadzenDataGrid>
                }
            </td>
        </tr>
    </table>
</div>

@code {

    private List<AdvertiseSourceViewModel> advertiseSourceData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        advertiseSourceData = new List<AdvertiseSourceViewModel>();
        advertiseSourceData = await AdvertiseSourceService.GetAllAdvertiseSourceDetails<List<AdvertiseSourceViewModel>>();
    }

    private void Add()
    {
        NavigationManager.NavigateTo("/masterMaintenance/grocery/add");
    }
}

