@page "/masterMaintenace/index"

<div style="width:100%;">
    <ul class="nav-menu" style="margin-top:-7px;margin-left:-7px;">
        <li>
            <NavLink href="/masterMaintenance/locations/list" activeClass="active">Location</NavLink>
        </li>
        <li>
            <NavLink href="/masterMaintenance/advertiseSource/list" activeClass="active">AdvertiseSource</NavLink>
        </li>
        <li>
            <NavLink href="/masterMaintenance/grocery/list" activeClass="active" Match="NavLinkMatch.Prefix">Grocery</NavLink>
        </li>
       
        <li>
            <NavLink href="/masterMaintenance/orderType/list" activeClass="active">OrderType</NavLink>
        </li>

        <li>
            <NavLink href="/masterMaintenance/store/list" activeClass="active">Store</NavLink>
        </li>
        <li>
            <NavLink href="#" activeClass="active">Staters</NavLink>
        </li>
        <li>
            <NavLink href="#" activeClass="active">OrderType Prices</NavLink>
        </li>

    </ul>  
</div>

@* <div class="row">
    <div class="col-md-2">
        <a href="/masterMaintenance/advertiseSource/list" class="primary">AdvertiseSource</a>
    </div>
</div>
<div class="row">

    <div class="col-md-2">
        <a href="/masterMaintenance/grocery/list" class="primary">Grocery</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="/masterMaintenance/locations/list" class="primary">Location</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="/masterMaintenance/orderType/list" class="primary">OrderType</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="/masterMaintenance/grocery/list" class="primary">Store</a>
    </div>
</div> *@

@* <div class="container">
    <div class="row rowstyle">
        <div class="col col1BackGround boxborder">
            <a href="masterMaintenance/advertiseSource/list" class="anchorTag">AdvertiseSource</a>
        </div>
        <div class="col col2BackGround boxborder">
            <a href="masterMaintenance/grocery/list" class="anchorTag">Grocery</a>
        </div>
        <div class="col col3BackGround boxborder">
            <a href="masterMaintenance/locations/list" class="anchorTag">Location</a>
        </div>
        <div class="col col4BackGround boxborder">
            <a href="masterMaintenance/orderType/list" class="anchorTag">OrderType</a>
        </div>
    </div> 
    <div class="row rowstyle">
        <div class="col col5BackGround boxborder">
            <a href="#" class="anchorTag">OrderTypePrice</a>
        </div>
        <div class="col col6BackGround boxborder">
            <a href="#" class="anchorTag">Payment Types</a>
        </div>
        <div class="col col7BackGround boxborder">
            <a href="masterMaintenance/store/list" class="anchorTag">Store</a>
        </div>
        <div class="col col8BackGround boxborder">
            <a href="#" class="anchorTag">Staters</a>
        </div>
    </div>

</div>


@code {

}

<style type="text/css">
    .rowstyle{
        margin-top:10px;
    }
    .anchorTag {
        color: white;
        font-size: 23px;
        text-decoration:none;
    }

    .anchorTag:hover {
        color: black;
        font-size: 23px;
        text-decoration: none;
    }

    .col1BackGround {
        background-color: #d7d1fa;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align:center;
        vertical-align: middle;
        margin-left:10px;
    }

    .col2BackGround {
        background-color: #ffdacc;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }

    .col3BackGround {
        background-color: #d3d9de;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }

    .col4BackGround {
        background-color: #5F9EA0;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }

    .col5BackGround {
        background-color: #8FBC8F;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;

    }

    .col6BackGround {
        background-color: #00008b;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }

    .col7BackGround {
        background-color: #006400;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left:10px;
    }

    .col8BackGround {
        background-color: #cd5c5c;
        color: white;
        font-size: 17px;
        height: 150px;
        width: 250px;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
    }
    .boxborder
    {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
    }
</style> *@