@page "/masterMaintenace/index"



<div class="row" align="center" style="padding-top:20px;margin-left:150px;">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header" align="left">
                <h4 class="card-title">Maintenance</h4>
            </div>
            <ul class="list-group list-group-flush" align="left">
                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/advertiseSource/list" class="text-primary">Advertise Source</a>
                </li>
                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/expensesandsales/list" class="text-success">Expenses And Sales</a>
                </li>
                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/grocery/list" class="text-primary">Grocery</a>
                </li>
                
                <li class="list-group-item text-primary">
                    <a href="/inventory/inventoryhistory/list" class="text-primary">Inventory History</a>
                </li>
                
                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/locations/list" class="text-primary">Locations</a>
                </li>
                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/orderType/list" class="text-primary">Order Types</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header" align="left">
                <h4 class="card-title">Maintenance</h4>
            </div>          

            <ul class="list-group list-group-flush" align="left">
                <li class="list-group-item text-primary">
                    <a href="#" class="text-success">Order Staters By Customers</a>
                </li>

                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/store/list" class="text-primary">Store</a>
                </li>
                <li class="list-group-item text-primary">
                    <a href="#" class="text-success">Product History</a>
                </li>

                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/stater/list" class="text-primary">Staters</a>
                </li>
                             
                <li class="list-group-item text-primary">
                    <a href="/masterMaintenance/vendors/list" class="text-primary">Vendors</a>
                </li>
                <li class="list-group-item text-primary">
                    <a href="" class="text-success">Settings</a>
                </li>
              
            </ul>
        </div>
    </div>
</div>

