@page "/expenses/updateExpenses/{expensesId:int}"

@using GDB.Web.BLL.Interface
@using GDB.Web.Client.Infrastructure.Utilis.Expenses
@using GDB.Web.Shared

@inject IStoreService StoreService
@inject IGroceryService GroceryService
@inject IExpensesService ExpensesService
@inject IOrderService OrderService
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ILogger<Add> Logger
@rendermode @(new InteractiveAutoRenderMode(prerender:false))

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Update Expenses
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <EditForm Model="@expenses" OnValidSubmit="HandleValidSubmit">
                            @if (errorMessages != null)
                            {
                                @foreach (var message in errorMessages)
                                {
                                    if (!string.IsNullOrEmpty(message))
                                    {
                                        <ul class="alert alert-danger mt-3 text-left">
                                            <li>@message</li>
                                        </ul>
                                    }
                                }
                            }
                            <div class="row rowMargin">
                                <div class="col-sm-3">
                                    Store
                                </div>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="expenses.StoreName" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row rowMargin">
                                <div class="col-sm-3">
                                    Grocery
                                </div>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="expenses.GroceryDescription" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row rowMargin">
                                <div class="col-sm-3">
                                    Quantity Description
                                </div>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="expenses.QuantityDescription" maxLength="150" class="form-control" />
                                </div>
                            </div>


                            <div class="row rowMargin">
                                <div class="col-sm-3">
                                    Amount
                                </div>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="ExpensesAmountString" maxLength="10" style="color:red;font-weight:bold;" class="form-control" />
                                </div>
                            </div>

                            <div class="row rowMargin">
                                <div class="col-sm-3">
                                    Expenses Date
                                </div>
                                <div class="col-sm-6">
                                    <InputDate @bind-Value="expenses.ExpensesDate"  class="form-control" />
                                </div>
                            </div>

                            <div class="row rowMargin">
                                <div class="col-sm-3">
                                    WeekId
                                </div>
                                <div class="col-sm-6">
                                    <InputNumber @bind-Value="expenses.WeekNumber" style="width:250px" readonly class="form-control textRed" />
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary fw-bold">
                                    <i class="fas fa-save" aria-hidden="true"></i>
                                    &nbsp;&nbsp;Update Expenses
                                </button>
                                <button type="button" class="btn btn-warning fw-bold" @onclick="GoBack">
                                    <i class="fas fa-times"></i>&nbsp;&nbsp;Cancel
                                </button>
                            </div>

                            @if (!string.IsNullOrEmpty(successMessage))
                            {
                                <div class="alert alert-success mt-3 text-center">@successMessage</div>
                            }
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int expensesId { get; set; }
    private ExpensesViewModel expenses = new();
    private string[] errorMessages;
    private string successMessage = string.Empty;


    private string ExpensesAmountString
    {
        get => expenses.ExpensesAmount.ToString("0.##");
        set
        {
            if (decimal.TryParse(value, out var result))
            {
                expenses.ExpensesAmount = result;
            }
            else
            {
                expenses.ExpensesAmount = 0;
            }
        }
    }

    public IEnumerable<GroceryViewModel> groceryViewModelData;
    public IEnumerable<StoreViewModel> storeViewModelData;
    protected List<ExpensesViewModel> expensesData = new List<ExpensesViewModel>();

    protected override async Task OnInitializedAsync()
    {
        await BindData();
    }

    private async Task BindData()
    {
        expensesData = await ExpensesService.GetAllExpenses<List<ExpensesViewModel>>();
        expenses = expensesData.SingleOrDefault(x => x.ExpensesId == Convert.ToInt32(expensesId));
    }

    private async void HandleValidSubmit()
    {
        errorMessages = Validations(expenses);
        string validations = string.Join(" ", errorMessages);
        if ((validations == null) || (validations == ""))
        {
            var response = await ExpensesService.Update(expenses);
            if (response.Value)
            {
                await BindData();
                SuccessMessage();
            }
            else
            {
                ErrorMessage();             
            }
        }       
        validations = "";
    }

    private void SuccessMessage()
    {
        Logger.LogInformation(ExpesesMessages.Expenses_Update_SuccessMessage);
        successMessage = ExpesesMessages.Expenses_Update_SuccessMessage;
        Reset();
    }
    private void ErrorMessage()
    {
        Logger.LogInformation(ExpesesMessages.Expenses_Update_ErrorMessage);
        successMessage = ExpesesMessages.Expenses_Update_ErrorMessage;
    }

    private async void Reset()
    {
        expenses = new ExpensesViewModel();
        expenses.WeekNumber = await OrderService.GetMaxWeekId<int>();
        errorMessages = [];
        StateHasChanged();
    }

    private string[] Validations(ExpensesViewModel expensesViewModel)
    {
        string[] result;
        string validationMessage = "";
        if ((expensesViewModel.ExpensesAmount == null) || (expensesViewModel.ExpensesAmount == 0))
        {
            validationMessage = ExpesesMessages.Expenses_Amount_ValidationMessage;
        }
        if (expensesViewModel.ExpensesDate == null)
        {
            validationMessage = validationMessage != null ? validationMessage +
                                ", " + Environment.NewLine + ExpesesMessages.Expenses_Date_ValidationMessage
                                : ExpesesMessages.Expenses_Date_ValidationMessage;
        }       
        return result = validationMessage.Split(',').Select(s => s.Trim()).ToArray();
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/expenses/list");
    }
}
@* <style type="text/css">
    .rowMargin {
        margin-bottom: 10px;
    }

    .textRed {
        color: red;
    }

</style>
 *@