@page "/reports/customerReports/customerVisitsByYearly"

@using Blazorise.DataGrid
@using GDB.Web.BLL.Interface
@using GDB.Web.Shared

@inject ICustomerService CustomerService
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender:false))


<div>
    <table>
        <tr>
            <td style="margin-top:20px;">
                <table>
                    <tr>
                        <td>
                            <h4>Customer Visits by Yearly</h4>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <tr>
            <td style="margin-top:-25px;">
                @if (customerVisits != null)
                {
                    <DataGrid Style="background-color:mediumpurple;"
                              TItem="GDB.Web.Shared.CustomerVisits"
                              Data="@customerVisits"
                              Responsive
                              ShowPager="true"
                              Sortable
                              SortMode="DataGridSortMode.Single"
                              PageSize="10"
                              Editable>
                        <DataGridColumns>
                            <DataGridColumn Field="@nameof(GDB.Web.Shared.CustomerVisits.CustomerName)"
                                            Caption="Customer Name"
                                            Width="120px" />
                            <DataGridColumn Field="@nameof(GDB.Web.Shared.CustomerVisits.NumberofVisits)"
                                            Caption="Number of Visits"
                                            Width="100px" />
                        </DataGridColumns>
                    </DataGrid>
                }
            </td>
        </tr>


    </table>
</div>
@code {
    public List<GDB.Web.Shared.CustomerVisits> customerVisits = new();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            customerVisits = new List<GDB.Web.Shared.CustomerVisits>();
            customerVisits = await CustomerService.GetAllCustomerVisitsBy_Yearly<List<GDB.Web.Shared.CustomerVisits>>();

        }
        catch (Exception ex)
        {
            string errorMessage = ex.Message;
        }
    }
}
